html, body {
  margin: 0;
  padding: 0;
}
/* строчка с путём страниц */
.src_network { 
  padding: 25 7vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Большое название страница - Поиск */
.main_page_search_text { 
  padding: 0 7vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0px;
}

/* Контейнер с поисковиком */
.search-container {
  width: 86vw; 
  display: flex;
  margin: 0 auto;
  position: relative;
}

/* Инпут поисковика */
.search-container input {
  width: 100%;
  padding: 10px 24px 10px 12px;
  border: 2px solid #70C05B;
  border-radius: 4px; 
  font-size: 16px;
  outline: none;
}

/* Иконка поиска */
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
}





/* Сетка товаров */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
  gap: 30px;
  padding: 20px;
  justify-content: center; 
  width: 80vw;
  margin: 50px auto;
}

/* Карточка товара */
.product-card {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 272px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Пикча товара */
.image-container {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin: 20px 0;
}

.image-container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Скидка на товар */
.discount {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: #FF6633;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;

  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* добавить в избранное */
.like {
  position: absolute;
  top: 0px;
  right: 8px;
  color: red;
  cursor: pointer;
}

/* блок текстовый к товару */
.product-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  height: 100%;
}

/* Шрифт для всех текстов */
.products-text { 
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.prices {
  display: flex;
  justify-content: space-between;
}

/* Цена с картой */
.price-discount {
  font-weight: 600;
  font-size: 16px;
}

/* Цена обынчая */
.price-main {
  font-weight: 400;
  font-size: 16px;
}

/* Подпись с картой или без */
.price-sub {
  font-size: 12px;
  color: gray;
}

/* Описание товара */
.product-text {
  font-size: 14px;
  color: #333;
}

/* Оценка товара */
.rating {
  display: flex;
  gap: 5px;
}

/* Кнопка добавить в избранное */
.add-to-cart {
  margin-top: auto;
  padding: 10px;
  border: 1px solid #32CD32;
  border-radius: 6px;
  background-color: white;
  color: #32CD32; 
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s, color 0.2s;
}

.add-to-cart:hover {
  background-color: #32CD32;
  color: white;   
}